<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gracias por tu compra</title>
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/carrito.css">
</head>
<body>
  <header class="navbar"> ... </header>

  <main class="carrito-contenedor">
    <h1>¡Gracias por tu compra!</h1>
    <p>Te hemos enviado una confirmación a <strong>{{ email }}</strong></p>
    <a href="/tienda">Volver a la tienda</a>
    </div>
  </main>

  <footer class="footer"> ... </footer>
</body>
</html>
